@import '@app/styles/colors.scss';
@import '@app/styles/sizes.scss';

.container {
  background-color: $color-dark-gray-0;
  display: flex;
  flex-direction: row;
  color: white;
  padding: 29px 40px;
  gap: 54px;
  align-items: center;
  justify-content: flex-start;

  @media (min-width: $aboveMobile) {
    padding: 29px 145px;
  }
  @media (max-width: $smallMobile) {
    flex-direction: column;
    align-items: center;
    gap: 12px;
  }
}

.title {
  font-size: 20px;
  min-height: 37px;
  font-style: normal;
  font-weight: 900;
  line-height: 120%; /* 24px */
  display: flex;
  justify-content: center;
  align-items: center;

  background: linear-gradient(
    180deg,
    $color-shiny-blue 0%,
    $color-shiny-purple 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  cursor: pointer;
}
