$color-dark-gray-0: #1d1d1d;
$color-dark-gray-1: #ffffff26;
$color-dark-gray-2: #ffffff40;
$color-dark-gray-3: #ffffff60;

$color-gray: #ffffff80;

$color-shiny-blue: #00f2d5;
$color-shiny-purple: #ad00ff;

$color-white: #ffffff;
